
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Document Verification System</title>
</head>
<body>
    <div> 
        <h3>Welcome to @ViewBag.instu Document Verification System</h3>
        <h5>Please Note: Compare the records on this page against the document you are holding</h5>
        <h4>@ViewBag.msg</h4>
    </div>
</body>
</html>
