@{
    ViewBag.Title = "Jamb Subject Combination";

}

<div class="form-horizontal">
 
    <div id="sitting-1" style="width:80%;">
        <table class="table">
            <thead>
                <tr><th>From</th><th>To</th><th>Institution</th><th>Certificate Obtained</th></tr>
            </thead>
            <tbody data-bind="foreach:list">
                <tr>

                    <td data-bind="text:StartMonth"></td>
                    <td data-bind="text:EndMonth"></td>
                    <td data-bind="text:Institution"></td>
                    <td data-bind="text:Qualification"></td>
                    <td><button class="btn btn-danger" data-bind="click:$root.removeSubject">Delete</button></td>


                </tr>

            </tbody>
            <tfoot>
                 
                <tr>
                    <td><input type="text" data-bind="value:StartMonth" class="form-control" placeholder="e.g Sept, 1999"/></td>
                    <td><input type="text" data-bind="value:EndMonth" class="form-control" placeholder="e.g Sept, 1999" /></td>
                    <td><input type="text" data-bind="value:Institution" class="form-control" placeholder="Name of institution" /></td>
                    <td><input type="text" data-bind="value:Qualification" class="form-control" placeholder="Qualification obtained" /></td>
                    <td><button class="btn btn-info" data-bind="click:addSubject">+Add</button></td>

                </tr>
            </tfoot>
        </table>
    </div>

    <div class="form-group">
        <button data-bind="click:next, disabled:kill" class="btn btn-success">Done</button>
        <img src="~/Content/images/wait24.gif" data-bind="visible:kill" alt=""/>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/ViewModels/alevelVM.js")
}
<style>
    .validationMessage {
        color: red;
        font-size: 1.0em;
    }
</style>
