
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay Notification</title>
</head>
<body>
    <div> 
        <p>@ViewBag.msg</p>
    </div>
</body>
</html>
