

@{
    ViewBag.Title = "Upload Manual Matricnumbers";
    <!--Layout = "~/Views/Shared/_Layout.cshtml"; -->

}


@using (Html.BeginForm("UploadManualMatricNumbers", "Admission_Center", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{


    <div class="row">
        <div class="col-md-7">
           
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                <input type="text" id="progType" name="progType" class="form-control" placeholder="Enter programme type: Degree Or NCE" />
                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="file" id="file" value="Choose File" />
            </div>


            <div class="form-group">
                <input type="submit" class="btn btn-block btn-success" value="Upload and Continue" />
            </div>

            <div class="form-group">
                @Html.ActionLink("Cancel", "Index", "Home")
            </div>
        </div>
    </div>
}
 

