@model IEnumerable<Eduplus.DTO.BursaryModule.StudentTransactionDTO>
@{
    ViewBag.Title = "MyPayments";
    
}

<h3>My Fee Payments</h3>
<hr/>
@if(Model!=null)
{
    <a class="label-danger" style="font-size:20px;font-weight:bold;color:white">Balance:@ViewBag.bal</a>
    <hr/>

    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Particulars</td>
                <td>Amount</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach(var m in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(a=>m.TransDate)</td>
                    <td>@Html.DisplayFor(a => m.Particulars)</td>
                    <td>@Html.DisplayFor(a => m.Amount)</td>
                    <td>@Html.ActionLink("Print Reciept","FeeReceipt",new { paymentId = m.PaymentId })</td>
                </tr>
            }
        </tbody>
    </table>

}

