
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestToken</title>
</head>
<body>
    <div> 
        <h4>raw: @ViewBag.raw</h4>
        <h4>converted: @ViewBag.lng</h4>
        <h4>final: @ViewBag.final</h4>
        <h4>final: @ViewBag.text</h4>
    </div>
</body>
</html>
