
@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Articles</h3><hr />
    <a class="btn btn-success" href="@Url.Action("EditArticle","ContentManagement")">Add Content</a>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:list">
            <tr>
                <td data-bind="text:Title"></td>
                <td data-bind="text:Type"></td>
                <td class="button">
                    <a class="btn btn-success" data-bind="click:$root.edit" href="#"><i class="glyphicon glyphicon-edit"></i></a>
                </td>
                <td class="button">
                    <a class="btn btn-danger" data-bind="click:$root.remove" href="#"><i class="glyphicon glyphicon-remove-sign"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@Scripts.Render("~/Scripts/ViewModels/articlesVM.js")