@model IEnumerable<Eduplus.Domain.CoreModule.AppImages>
@{
    ViewBag.Title = "Manage Slide Contents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h3>Manage Slide Contents</h3>
        <hr />
       <a class="btn btn-success" href="@Url.Action("UploadSlidePix","ContentManagement")">New Slide Pix</a>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Pix</th>
                    <th>Title</th>
                    <th>Date Posted</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td height="50px" width="50px">
                             
                            <img src=@i.FotoPath width="50" ; height="50" />
                        </td>
                        <td>@Html.DisplayFor(a=>i.Description)</td>
                        <td>@Html.DisplayFor(a=>i.InsertDate)</td>
                        <th>@Html.ActionLink("Delete","DeleteSlide",new { imageId = i.ImageId })</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>



