
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HRMS - Dashboard</title>
    <!-- Custom fonts for this template-->
    <link href="~/Content/fontawesome/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="~/Content/sb-admin-2.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        @Html.Action("_menuPartial", "Home")
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <h1 class="h5 mb-0 d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100" style="color:#4B0082">HR Manager</h1>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">



                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Udeme Success<br> Administrator</span>
                                <i class="fa fa-user fa-2x btn btn-primary btn-circle"></i>

                                <!-- <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"> -->
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="blank.html">
                                    <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="blank.html">
                                    <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="card shadow">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header">

                                    <h6 align="left"> <span class="m-0 font-weight-bold text-primary"> Current Business Year:</span> 2020/2021 </h6>

                                </div>
                            </div>

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="card shadow mb-4">

                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-danger btn-block btn-sm">
                                                SEND MAIL
                                            </a>
                                        </div>
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-danger btn-block btn-sm">
                                                SEND SMS
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>


                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8">

                            <div class="row">
                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-6 col-md-6 mb-4">
                                    <div class="card border-bottom-primary shadow h-100">
                                        <div class="card-header py-3">
                                            <h6 class="text-xs font-weight-bold text-primary text-uppercase mb-1"> Employees</h6>
                                        </div>
                                        <div class="card-body overflow-auto" style="max-height:200px;padding:2px">

                                            <div class="table-responsive">

                                                <table class="table table-hover table-striped table-sm">
                                                    <thead>
                                                        <tr><th>Branches</th><th>Nos</th></tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr><td> Apapa</td><td> 183</td></tr>
                                                        <tr><td> Uyo</td><td> 672</td></tr>
                                                        <tr><td> Port Harcourt</td><td> 330</td></tr>
                                                        <tr><td> Calabar</td><td> 1927</td></tr>
                                                        <tr><td> Apapa</td><td> 183</td></tr>
                                                        <tr><td> Uyo Central</td><td> 672</td></tr>
                                                        <tr><td> Enugu</td><td> 330</td></tr>
                                                        <tr><td> Abuja</td><td> 1927</td></tr>
                                                    </tbody>
                                                </table>


                                            </div>

                                        </div>
                                        <div class="card-footer">
                                            <div class="h6 mb-0 font-weight-bold text-gray-800">TOTAL - 3,438</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Employee Type Section -->
                                <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                                    <div class="card border-bottom-primary shadow h-100">

                                        <div class="card-header py-3">
                                            <h6 class="text-xs font-weight-bold text-primary text-uppercase mb-1">Employee Type</h6>
                                        </div>
                                        <div class="card-body" style="padding:2px">

                                            <div class="table-responsive">

                                                <table class="table table-hover table-striped table-sm">
                                                    <thead>
                                                        <tr><th>Types</th><th>Nos</th></tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr><td> Full Time</td><td> 783</td></tr>
                                                        <tr><td> Part Time</td><td> 69</td></tr>
                                                        <tr><td> Contract</td><td> 20</td></tr>

                                                    </tbody>
                                                </table>


                                            </div>



                                        </div>
                                        <div class="card-footer">
                                            <div class="h6 mb-0 font-weight-bold text-gray-800">TOTAL - 14,422</div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- Bar Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Salary Chart</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="myBarChart"></canvas>
                                    </div>
                                    <hr>

                                </div>
                            </div>

                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <!-- side section -->

                            <div class="card border-left-primary shadow">
                                <div class="card-header py-3">
                                    <h6 class="text-xs font-weight-bold text-primary text-uppercase mb-1"> Salary Paid</h6>
                                </div>
                                <div class="card-body overflow-auto" style="max-height:200px;padding:0px">

                                    <div class="table-responsive">

                                        <table class="table table-hover table-bordered table-striped table-sm">
                                            <thead>
                                                <tr><th>Month</th><th>Amount</th></tr>
                                            </thead>

                                            <tbody>
                                                <tr><td> Jan 2020</td><td> N22183</td></tr>
                                                <tr><td> Feb 2020</td><td> N22672</td></tr>
                                                <tr><td> March 2020</td><td> N432330</td></tr>
                                                <tr><td> April 2020</td><td> N31927</td></tr>
                                                <tr><td> May 2020</td><td> N32183</td></tr>
                                                <tr><td> June 2020</td><td> N23672</td></tr>
                                                <tr><td> July 2020</td><td> N23330</td></tr>
                                                <tr><td> August 2020</td><td> N771927</td></tr>
                                            </tbody>
                                        </table>


                                    </div>

                                </div>
                                <div class="card-footer">
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">TOTAL - N3,438,453</div>
                                </div>
                            </div>

                            <br>
                            <div class="card border-left-primary shadow">
                                <div class="card-header py-3">
                                    <h6 class="text-xs font-weight-bold text-primary text-uppercase mb-1"> Transfer Paid</h6>
                                </div>
                                <div class="card-body overflow-auto" style="max-height:200px;padding:0px">

                                    <div class="table-responsive">

                                        <table class="table table-hover table-bordered table-striped table-sm">
                                            <thead>
                                                <tr><th>Month</th><th>Amount</th></tr>
                                            </thead>

                                            <tbody>
                                                <tr><td> Jan 2020</td><td> N22183</td></tr>
                                                <tr><td> Feb 2020</td><td> N22672</td></tr>
                                                <tr><td> March 2020</td><td> N432330</td></tr>
                                                <tr><td> April 2020</td><td> N31927</td></tr>
                                                <tr><td> May 2020</td><td> N32183</td></tr>
                                                <tr><td> June 2020</td><td> N23672</td></tr>
                                                <tr><td> July 2020</td><td> N23330</td></tr>
                                                <tr><td> August 2020</td><td> N771927</td></tr>
                                            </tbody>
                                        </table>


                                    </div>

                                </div>
                                <div class="card-footer">
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">TOTAL - 3,438</div>
                                </div>
                            </div>

                            <br>

                            <div class="card border-left-primary shadow">
                                <div class="card-header py-3">
                                    <h6 class="text-xs font-weight-bold text-primary text-uppercase mb-1"> Pension Paid</h6>
                                </div>
                                <div class="card-body" style="padding:2px">

                                    <div class="table-responsive">

                                        <table class="table table-hover table-bordered table-sm">
                                            <thead>
                                                <tr><th>Month</th><th>Amount</th></tr>
                                            </thead>

                                            <tbody>
                                                <tr><td> June, 2021</td><td> N183,000</td></tr>
                                                <tr><td> July, 2021</td><td> N672,000</td></tr>
                                                <tr><td> August, 2021</td><td> N330,000</td></tr>
                                                <tr><td> September, 2021</td><td> N1927,000</td></tr>
                                            </tbody>
                                        </table>


                                    </div>

                                </div>
                                <div class="card-footer">
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">TOTAL - 3,438</div>
                                </div>
                            </div>

                            <br>

                        </div>


                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Courtesy UdemeComputers 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to logout.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/scripts/jquery.easing.1.3.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/scripts/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-bar-demo.js"></script>


    <script type="text/javascript">
	$(document).ready(function(){



	// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Bar Chart Example
var ctx = document.getElementById("myBarChart");
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["January 2021", "February 2021", "March 2021", "April 2021", "May 2021", "June 2021"],
    datasets: [{
      label: "Salary",
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: [99615, 50312, 68251, 78041, 138021, 196098],
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 160000,
          maxTicksLimit: 10,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return 'N' + number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': N' + number_format(tooltipItem.yLabel);
        }
      }
    },
  }
});




	});
    </script>

</body>
</html>
