
@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departments</h2>
<p><a class="btn btn-success" data-bind="click:$root.add" href="#" title="Add new department"><i class="icon-plus"></i> Add Department</a></p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Location</th>
            <th>Faculty</th>
            <th>IsAcademic</th>
            <th style="width: 120px; text-align:right;" />
        </tr>
    </thead>
    <tbody data-bind="template:{name:templateToUse, foreach: departmentList }"></tbody>
</table>
<p><a class="btn btn-success" data-bind="click:$root.add" href="#" title="Add new department"><i class="icon-plus"></i> Add Department</a></p>

<script id="itemsTmpl" type="text/html">
    <tr>
        <td data-bind="text:DepartmentCode"></td>
        <td data-bind="text: Title"></td>
        <td data-bind="text:Location"></td>
        <td data-bind="text:Faculty"></td>
        <td data-bind="text: IsAcademic" ></td>
        <td class="buttons">
            <a class="btn btn-success" data-bind="click: $root.edit" href="#" title="edit"><i class="glyphicon glyphicon-edit"></i></a>

        </td>

    </tr>
</script>

<script id="editTmpl" type="text/html">
    <tr>
        <td><input class="form-control" data-bind="value:DepartmentCode" /></td>
        <td><input class="form-control" data-bind="value: Title" /></td>
        <td><input class="form-control" data-bind="value:Location"></td>
        <td><select data-bind="value:FacultyCode,options:faculties,optionsValue:'FacultyCode',optionsText:'Title', optionsCaption:'Select Faculty--'" class="form-control"></select></td>
        <td><input type="checkbox" data-bind="checked: IsAcademic" /></td>
        <td class="buttons">
            <a class="btn btn-success" data-bind="click:$root.save" href="#" title="save"><i class="glyphicon glyphicon-floppy-disk"></i></a>
            <a class="btn btn-danger" data-bind="click: $root.cancel" href="#" title="cancel"><i class="glyphicon glyphicon-remove-sign"></i></a>
        </td>
    </tr>
</script>
@Scripts.Render("/Scripts/ViewModels/departmentVM.js")