
@{
    ViewBag.Title = "GenerateGraduantSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate Graduant Summary</h2>

<div>
    <h3>Students</h3>

    <div class="form-group">
        <div class="col-md-4">
            <select data-bind="value:programmeCode,options:programmes,optionsValue:'ProgrammeCode',optionsText:'Fullname',optionsCaption:'--Select Programme--',disable:Kill" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <select data-bind="value:session,options:sessions,optionsText:'Title',optionsCaption:'--Graduation Session--'" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <select data-bind="value:batch,options:batches,optionsCaption:'--Graduation Batch--'" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <button class="btn btn-success" data-bind="click:$root.fetch">Fetch</button>
        </div>
    </div>

    <hr />
    <p>.</p>
    <hr />
    <h4>Students</h4>
    <hr />
</div>

@Scripts.Render("~/Scripts/ViewModels/generateGraduantSummaryVM.js")

