@model Eduplus.DTO.ArticleModule.ArticleDTO
@{
    ViewBag.Title = @Html.DisplayFor(m => m.Title);
}

 @if(Model==null)
 {
     <h3>Oops sorry no content found. Try again later</h3>
 }
 else
 {
    <div style="max-width:100%;">
        <section>
            @if (ViewBag.Photo != null)
            {
                var base64 = Convert.ToBase64String(@ViewBag.photo);
                var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                <img src='@imgSrc' style="width:100%; max-height:200px;" />

            }
        </section>
        <h4>@Html.DisplayFor(a => a.Title)</h4>
        <hr />

        <div id="cont" style="text-align:justify; margin-left:5px;">
            @Html.Raw(Model.Content)
        </div>

    </div>
 }


