
<style>
    .h3-me {
        color: #0a5e23;
        height: 30px;
        padding-bottom: -5px;
        border-bottom: solid;
        border-bottom-color: #0a5e23;
        border-bottom-width: 2px;
        border-bottom: solid;
        border-left-width: 1px;
        border-left-style: solid;
        border-bottom-left-radius: 8px;
    }

   .ul-me {
        list-style-type: none;
        padding-left:5px;
        margin-left:1px;
    }

        
</style>
<h3 class="h3-me">Other Links</h3>
<div class="row">
    <ul class="list-group">
        <li class="list-group-item" style="border-top:none; border-left:none; border-right:none;">
            <img src="~/Content/images/LOGO.png" width="30" ; height="30" />
            <a a style="color:#0a5e23" href="http://smc.obonguniversity.edu.ng">Students' Management Center</a>
        </li>
        <li class="list-group-item" style="border-top:none; border-left:none; border-right:none;">
            <img src="~/Content/images/LOGO.png" width="30" ; height="30" />
            <a a style="color:#0a5e23" href="http://sbs.obonguniversity.edu.ng">School of Basic Studies</a>
        </li>
        <li class="list-group-item" style="border-top:none; border-left:none; border-right:none;">
            <img src="~/Content/images/mbash.png" width="30" ; height="30" />
            <a a style="color:#0a5e23" href="http://mbashcourseware.obonguniversity.edu.ng">Mbash Online Course</a>
        </li>
        <li class="list-group-item" style="border-top:none; border-left:none; border-right:none;">
            <img src="~/Content/images/LOGO.png" width="30" ; height="30" />

            <a style="color:#0a5e23" href='@Url.Action("CurrentAcademicCalender","Admissions")'>Current Academic Calender</a>
        </li>
        
    </ul>
    
</div>
