
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PayConvocationFee</title>
</head>
<body>
    <div> 
        <h4>Oops! Student yet to graduate. You must be a graduate of this institution before you can generate convocation Fee. If you have graduated, update your profile
        </h4>
    </div>
</body>
</html>
