
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h3 style="color:#ff0000;">Please Note: That you have paid your school fees does not mean you have registered for the semester.
    ENSURE TO REGISTER YOUR COURSES FOR THE SEMESETER SO AS TO HAVE YOUR RESULTS COMPUTED AT THE END OF THE SEMESTER.</h3>

