<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Eduplos</title>
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{Layout = null;}
</head>
<body>
    @if (Model == null)
    {
        <h2>Oops! No result found for selected Semester.</h2>
    }
    else
    {
        
    }


</body>
</html>



