@model Eduplos.DTO.AcademicModule.StudentAcademicProfileDTO
@{
    ViewBag.Title = "Course Registration";
    Layout = "~/Views/Shared/_A4ReportLayout.cshtml";

}
<style>
    body {
        color: #000000;
    }
</style>
<div>
    <div id="browser-only">
        <input type="button" onclick="printPage()" class="btn btn-info" value="Print">||<input type="button" onclick="window.location.href='/Payments/MyInvoices'" class="btn btn-danger" value="Close" />
    </div>


</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    function printPage() {
        var print = document.getElementById("browser-only");
        //Set the print button visibility to 'hidden'
        print.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Set the print button to 'visible' again
        //[Delete this line if you want it to stay hidden after printing]
        print.style.visibility = 'visible';
    }
</script>


