
@{
    ViewBag.Title = "Generate Result";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="form-horizontal">
    <h3>Generate Semester Result</h3>
    <div class="form-group">

        <div class="col-md-5">
            <select class="form-control" data-bind="value:SessionId,options:sessions,optionsValue:'SessionId',optionsText:'Title',optionsCaption:'--Select Session--'"></select>

        </div>
    </div>
    <div class="form-group">

        <div class="col-md-5">
            <select class="form-control" data-bind="value:SemesterId,options:semesters,optionsValue:'SemesterId',optionsText:'Title',optionsCaption:'--Select Semester--'"></select>

        </div>
    </div>
    
    
    <div class="form-group">

        <div class="col-md-5">
            <button class="btn btn-success" data-bind="click:fetch">Generate</button>

        </div>
    </div>
</div>


@Scripts.Render("~/Scripts/ViewModels/mySemesterResultVM.js")