
@{
    ViewBag.Title = "TranscriptApplication";
}

 
<h3>Welcome to Obong University's transcript application System</h3>
<p>
    If you have created your profile @Html.ActionLink("Click here to login","Login","Accounts") OR <br/>
    @Html.ActionLink("Click here to Create Profile","NewAlumnusRegistration", "Alumni")
</p>

