
@{
    ViewBag.Title = "Pay Fees";
     
}

<h3>Debit Student Account</h3>
<hr />
<div class="form-horizontal">
    <div class="form-group">

        <div class="col-md-6">
            <select data-bind="value:SessionId, options:sessions,optionsValue:'SessionId',optionsText:'Title', optionsCaption:'Select Session'" class="form-control"></select>
        </div>

    </div>
    <div class="form-group">

        <div class="col-md-12">
            <select data-bind="value:AccountCode, options:accounts,optionsValue:'AccountCode',optionsText:'Title', optionsCaption:'Select Account'" class="form-control"></select>
        </div>

    </div>
   
    <div class="form-group">
        <div class="col-md-6">
            <input type="text" data-bind="value:Amount" class="form-control" placeholder="Enter Amount" />
        </div>
    </div>
    
     
    
    <div class="form-group">
        <div class="col-md-6">
            <input type="text" data-bind="value:Particulars" class="form-control" placeholder="Particulars" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <button data-bind="click:submit,Kill" class="btn btn-success">Debit</button>
        </div>
    </div>
</div>


@Scripts.Render("~/Scripts/ViewModels/debitStudentVM.js")


