
@{
    ViewBag.Title = "Student Outstandings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="col-md-9">
    <div class="row">
        <div class="form-group">
            <input data-bind="value:matricNo" class="form-control" placeholder="Enter student matricnumber"/>
            <button data-bind="click:fetchCourses" class="btn btn-info">Fetch Student</button>
        </div>
    </div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Title</th>
                <th>Owing Type<th>
                <th>Semester</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:list">
            <tr>
                <td data-bind="text:CourseCode"></td>
                <td data-bind="text:Title"></td>
                <td data-bind="text:OwingType"></td>
                <td data-bind="text:CourseCode"></td>
                <td><button data-bind="click:$root.delete" class="btn btn-danger">Delete</button>
                    <img src="~/Content/images/wait26.gif" data-bind="visible:$root.busy" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="~/Scripts/ViewModels/courseOutStandingsVM.js"></script>
