
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @using (Html.BeginForm("ForgotPassword", "Accounts", FormMethod.Post))
    {

       <div class="col-md-4" style="margin-left:auto;margin-right:auto; margin-top:200px">
           @Html.AntiForgeryToken()
           @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           <h3>SMC portal password reset</h3>
           <div class="form-group">
               <input type="text" name="username" id="username" placeholder="Enter your username" class="form-control" />

           </div>
           <div class="form-group">
               <button class="btn btn-info" data-bind="click:proceed">Proceed</button>

           </div>
       </div>

    }


</body>
</html>
