@{
    ViewBag.Title = "Reset User Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Reset User Password</h3>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <hr />

            <div class="form-group">

                <input type="text" data-bind="value:username" placeholder="Enter username" class="form-control" />
                <input type="button" data-bind="click:searchUser" class="btn btn-info" value="Search" />

            </div>

            <hr />
            <table class="table table-striped">
                

                <tr>
                    <td>Username</td>
                    <td data-bind="text:username"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td data-bind="text:fullname"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td data-bind="text:email"></td>
                </tr>

                <tr>
                    <td>Enter New password</td>
                    <td><input type="password" data-bind="value:newPassword"/></td>
                </tr>
                

                <tr>
                    <td>

                        <input type="button" id="btnrs" data-bind="click:reset" class="btn btn-danger" value="Reset" />

                    </td>
                    
                </tr>

            </table>


        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/ViewModels/passwordResetVM.js")
}
