
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Confirmation</title>
</head>
<body>
    <div> 
        @ViewBag.msg; @Html.ActionLink("Click here to continue","Login")
    </div>
</body>
</html>
