
@{
    ViewBag.Title = "Unauthorised";
    Layout = null;

}

<div style="margin-left:auto; margin-right:auto; margin-top:50px; width:50%">
    <img src="~/Content/images/accessDenied.jpg" style="width:80%; height:60%" />
    <h4>
        Please contact ICT Directorate. <a class="btn btn-info" href="javascript:history.back()">Back</a>
    </h4>
</div>