﻿
@{
    ViewBag.Title = "Instructions";
}
<div>
    <h3>Before applying, please read carefully bellow:</h3>
    <p>
        <ul>
            <li>To apply, first create your profile</li>
            <li>Login using the email address as username used in creating your online profile. And enter your password</li>
            <li>Click on "Pay Admission" to generate payment invoice</li>
            <li>Print out the Invoice</li>
            <li>Go to the any Zenith Bank Branch Nearest you</li>
            <li>Pay into the School's Account Name: JTL/TANSIAN AFILIIATION ACCT.
            , ACCT No: 1015491634</li>
            <li> Scan and Send the duly stamped Bank Teller to gabresearch@gmail.com</li>
            <li> Once payment is confirmed, you will be notified to complete your registration process</li>
            
            <li>Print the registration slip at the completion of registration</li>
            <li></li>
            <li>
                Bring your registration slip together with the originals of your credentials and Bank teller to the Admissions Office,JetKing University College, Ediene Ikono
                Akwa Ibom State.
                <br/><a href='https://www.smc.jetkinguniversitycolleged.net/Admission_Center/NewStudentProfile")'><span>Apply for Admission</span></a>
            </li>
        </ul>
        
    </p>
    <hr />
    
</div>

